<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Artists!</title>
    </head>
    <body>
        <ol>
            <% @artists.each do |artist| %>
                <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></li>
            <% end %>
        </ol>

    </body>
</html>
